<div class="not-found-container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10 col-md-8 col-sm-7 text-center">
      <h1><span class="left">?</span> 404 <span class="right">?</span></h1>
      <img src="../../assets/francesco-ungaro-VSwlS0PpWwc-unsplash.jpg" alt="Picture of a bucket with clothespins in it">
      <p class="source">Photo by <a href="https://unsplash.com/photos/grey-bucket-on-brown-wooden-surface-VSwlS0PpWwc">Francesco Ungaro</a> on Unsplash</p>

      <p>Oops, that's the wrong bucket. The page you're looking for could not be found</p>
      <br>
      <div class="text-start reasons">
        <p>Possible Reasons:</p>
        <p>-Check to see if the URL is spelled correctly</p>
        <p>-You may have used a broken or outdated link</p>
      </div>

    </div>
  </div>
</div>