.task-container{
  background-color: #343F4B;
}

.add-btn{
  background-color: #FFD740;
}

.text{
  color:#FFD740
}

h1{
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

.radius{
  border-radius: 7px;
}

.font{
  font-family: "Lato", sans-serif;
}
