<div class="contact-container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <div class="card shadow">
        <div class="card-title text-center">
          <h1>Contact Us</h1>
        </div>

        <div class="card-body row">
          <div div class="col justify-content-center text">
            <div class="row">

              <div class="col-3">
                <span class="material-icons contact-icon">
                  call
                </span>
              </div>

              <div class="col">
                <span class="material-icons contact-icon">
                   mail
                </span>
              </div>
            </div>
            <p>Phone: 1.402.293.2000</p>
            <p>Address: 1000 Galvin Rd S, Bellevue, NE 68005</p>
            <p>Email: BRUINSupportServices@bellevue.edu</p>
          </div>
          <div class="col map" justify-content-center>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12017.059365843219!2d-95.918158!3d41.150572!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886a86ca807f%3A0x838e857240d175eb!2sBellevue%20University!5e0!3m2!1sen!2sus!4v1705943657549!5m2!1sen!2sus"
            width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
