.signin-container{
  background-color: #343F4B;
}

.btn{
  background-color: #FFD740;
  color: black;
  font-weight: bold;
}

.card{
  border:#FFD740 solid 2px;
  background-color: #343F4B;
  color: white
}

a{
  color:#FFD740
}