<div class="home-container">
  <div></div>
  <div class="landing">
    <div class="left">
      <p class="description">Organizing Your Duties<br>Made Simple</p>
      <h1>NodeBucket</h1>
      <div class="landing-button"><a class="land-link" routerLink="/task-management">Get Started</a></div>
    </div>
    <div class="right">
      <img class="pic" src="../../assets/moritz-kindler-mGFHA_0TWnA-unsplash.jpg" alt="Picture of a minimalist clock" height="300" width="400"><br>
      <p class="attribution">Source: <a href="https://unsplash.com/photos/analog-clock-mGFHA_0TWnA">Moritz Kindler</a></p>
    </div>
  </div>
  <p class="blurb">
    Manage your workflow at the press of a button<br><br> Nodebucket is an easy to use
    solution for monitoring what duties and tasks you need to get done, and offers the tools you need
    to prioritize what tasks are more important.<br><br> Organizations that use Nodebucket are proven to
    work faster, more efficiently, and show up to a 30% increase in productivity
  </p>
</div>